/* Forma de poner las declaraciones 
1. Pocisionamiento
2. Modelo de caja 
3. Tipografía --- fuentes, tamaño de fuentes
4. Temas visuales ----> shadom box, border radius
5. Otros
*/

/* NOTA: el MIN-WIDTH es de 288 en las etiquetas de texto cuyo WIDTH es de 90% (del ancho del contenedor donde estan), esto es xq 288 equivale al 90% de 320, significa que su tamaño no va ser menor a 288px cuando el view port sea de 320 (que es el menor posible) .*/

:root{
    /*Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --warm-black:#201e1c;
    --black: #282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
   /* scroll-behavior: smooth; te desliza al tocar un boton relacionado con una sección*/
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{ 
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /*el width no se va hacer más chico a partir de esa medida, es la dimencion más chica en celulares*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #f7931a 100%); /* combinacon de 2 colores difuminado black*/
}

header img{
    width:151px;
    height: 24px;
    /* margin: 0 auto;  Posible declaración que ayuda a centar la img*/
    margin-top: 60px;
    align-self: center; /*flex: forma de centrar a un elemento que tenga un contenedor con display flex;*/
}

.header--title-container{
    width: 90%;
    min-width: 288px; /*no va a disminuir mas de 288px*/
    max-width: 900px; /*dejara de crecer hasta los 900px*/
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center; /*el contenido como los textos dentro del contenedor se centren*/
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*espacio entre lineas*/
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute; /* este permite ponerse encima de otros elementos y moverse libremente*/
    left: calc(50% - 115px); /*queremos que se valla al centro con el 50% pero por las medidas del boton se ve sesgado a un extremo se resta 114.5 px porque es la medida del width son 229px/2 es 114.5 pero como deben ser enteros se redondea y son 115px*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;   
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");  
}
main{
    width: 100%;
    min-width: 320px; /*para que no se haga más pequeña de esta dimension y quede igual que el header*/
    height: auto; /*vatomando la altura segun su contenido*/
    background: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover; /*respete la figura de la imagen, no se deforme*/
    background-position: center; /*sin importar el tamaño del contenedor o de la imagen podamos tener visibilidad del centro de la imagen*/ 
    background-repeat: no-repeat; /*No se repita la imagen, aplica cuando la imagen es más chica que el contenedor ya que replica la img para lllenar el contenedor*/
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table,
.main-comision-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title,
.main-comision-table .comision-table--title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

@media(max-width:320px){
    .main-currency-table1{
        position: relative;
        width: 10%;
        min-width: 25px;
        max-width: 50px;
        height: 360px;
    }

    .main-currency-table1 .table1-span1{
        position: absolute;
        width: 12px;
        height: 20px;
        bottom: calc(50%);
        right: calc(50% + 10px);
        background-image: url(./assets/icons/right-arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .main-currency-table1 .table1-span2{
        position: absolute;
        width: 12px;
        height: 20px;
        bottom: calc(50%);
        left: calc(50% + 10px);
        background-image: url(./assets/icons/left-arrow.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* para colocar scroll del bueno usa este */
.main-tables-container{
    display: flex; /*este pondra a las targetas una del lado de otra*/
    gap: 30px; /*si no usas el gap ve a .plans-container--card por cierto este da espacio entre las tarjetas*/
    min-height: 400px; /*sea más alto que su contenido*/
    overflow-x:scroll; /*crea la opcion de deslizar para ver otras tarjetas*/
    overflow-y:hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-tables-container::-webkit-scrollbar{ /*decorar el scroll*/
    background: var(--soft-orange);
    height: 3px;
}

.main-tables-container::-webkit-scrollbar-thumb{
    background: var(--bitcoin-orange);
}

.currency-table--container,
.comision-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    scroll-snap-align: center;
}  

.currency-table--container table,
.comision-table--container table{
    width: 100%;
    height: 100%;
}
 .currency-table--container td,
 .comision-table--container td{
     width: 50%;
     font-size: 1.6rem;
     font-weight: 500;
     line-height: 1.9rem;
     color: var(--warm-black); 
     background: var(--just-white);
 }

 .currency-table--container .table__top-left,
 .comision-table--container .table__top-left{
     border-radius: 15px 0 0 0;
 }

 .currency-table--container .table__top-right,
 .comision-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__top-right,
.comision-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,
.comision-table--container .table__bottom-left{
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right,
.comision-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right,
.comision-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: var(--warm-black);
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .height{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date,
.comision-table--date{
    width: max-content; /*para que el texto no se desborde del contenedor*/
    height: 30px;
    margin: 15px auto 0;/*reverse manecillas del reloj arriba, laterales abajo*/
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius:8px;
}

.currency-table--date p,
.comision-table--date p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
}

.main-comision-table .comision-table--title{
    color: var(--secondary-blue);
}
.comision-table--date{
    background:#E7F5FF;
}

.main-product-detail{
    position: relative;/*contenedor padre relative*/
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: var(--warm-black);
}

.product-detail-batata-logo{
    position: absolute; /*absolute se basa al primer contenedor padre que tenga relative*/
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px); /* width es de 40ps entre 2 es 20*/
    background: url("./assets/icons/batata.svg");
} 
 .product-detail--title{
     width: 90%;
     min-width: 288px;
     height: auto;
     margin: 50px auto 0;
     text-align: center;
 }
 .product-detail--title h2{
     margin-bottom: 20px;
     font-size: 2.4rem;
     font-weight: bold;
     line-height: 2.6rem;
     color: var(--just-white);
 }

 .product-detail--title p{
     margin-bottom: 20px;
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.8rem;
     color: #808080;
 }

 .product-detail--card{
     width: 90%;
     min-width: 288px;
     max-width: 400px;
     min-height: 150px;
     margin: 15px auto;
     padding: 15px;
     background: var(--black);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
 }  
 .product-detail--card .clock,
 .product-detail--card .eye,
 .product-detail--card .dolar,
 .product-detail--card .paloma {
     display: inline-block;
     width: 20px;
     height: 20px;
     margin-bottom: 10px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 } 
 .product--card-title{
     margin-bottom: 15px;
     font-size: 1.8rem;
     font-weight: bold;
     line-height: 1.8rem;
     color: var(--just-white);
 }

 .product--card-body{
     font-size: 1.4rem;
     font-weight: 500;
     line-height: 1.8rem;
     color: #808080;
 }

 .product-detail--card .clock{
    background-image: url(./assets/icons/clock.svg);
 }

 .product-detail--card .eye{
    background-image: url(./assets/icons/eye.svg);
} 

.product-detail--card .dolar{
    background-image: url(./assets/icons/dollar-sign.svg);
}

.product-detail--card .paloma{
    background-image: url(./assets/icons/check-circle.svg);
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 70vh; /*min-heigth: 320PX;*/
    background-image: url("./assets/img/bitcoinbaby2x.jpg"); /*la 2x me da una imagen más grande y al crecer la pantalla la imagen se vea bien y no con tanto pixelaje*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
   /* background-attachment: fixed; allow to the img fijarse y al hacer scroll se ve toda la imagen*/
    text-align: center;
}

.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px; /*separar del footer*/
    text-align: center;
}

.plans--title{
    width: 90%;
    min-width: 288px; /*es el 90% de 320px*/
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider{
    display: flex; /*este pondra a las targetas una del lado de otra*/
    gap: 20px; /*si no usas el gap ve a .plans-container--card por cierto este da espacio entre las tarjetas*/
    height: 316px; /*sea más alto que su contenido*/
    overflow-x:scroll; /*crea la opcion de deslizar para ver otras tarjetas*/
    overflow-y:hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar{ /*decorar el scroll*/
    background: var(--soft-orange);
    height: 3px;
}

.plans-container--slider::-webkit-scrollbar-thumb{
    background: var(--bitcoin-orange);
}

.plans-container--card{
 position: relative;
 scroll-snap-align: center; /*intenta centrar una tarjeta automaticamente, no deja que te paraes en medio de 2 tarjetas, lo puedes aplicar horizontal y verticalmente*/
 width: 70%;
 min-width: 190px;
 max-width: 300px;
 height: 250px;
 margin: 50px auto 0; /* si no usas el gap pon esto 50px 5px 0*/
 padding: 0 15px;   
 background: var(--just-white);
 border-radius: 15px;
 box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);/* text-align: center; */
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--just-white);
}

.recommended {
    background: linear-gradient(207.8deg, #201E1C 16.69%, #f7931a 100%); 
}

.recommended2{
    background:  linear-gradient(207.8deg, #201E1C 16.69%, var(--secondary-blue) 100%);
}

.recommended3{
    background: linear-gradient(207.8deg, var(--grey) 16.69%, #201e1c 100%);
}

.plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px; /*lleva a l signo arriba*/
    padding-right: 4px;
}

.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;   
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span{
    display: inline-block;
    width: 20PX;
    height: 20PX;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

footer{
    display: flex;
    width: 100%;
    min-height: 150px;
    background: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}     

.left a{
    color: var(--just-white);
}

.main-tables-container,
.plans-container--slider{
    overflow-x: unset; /*nos permite desaparecer el scroll horizontal cuando el espacio lo demanda*/
}