/* Forma de poner las declaraciones 
1. Pocisionamiento
2. Modelo de caja 
3. Tipografía --- fuentes, tamaño de fuentes
4. Temas visuales ----> shadom box, border radius
5. Otros
*/

:root{
    /*Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --warm-black:#201e1c;
    --black: #282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{ 
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /*el width no se va hacer más chico a partir de esa medida, es la dimencion más chica en celulares*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #f7931a 100%);
}

header img{
    width:151px;
    height: 24px;
    /* margin: 0 auto;  Posible declaración que ayuda a centar la img*/
    margin-top: 60px;
    align-self: center; /*flex: forma de centrar a un elemento que tenga un contenedor con display flex;*/
}

.header--title-container{
    width: 90%;
    min-width: 288px; /*no va a disminuir mas de 288px*/
    max-width: 900px; /*dejara de crecer hasta los 900px*/
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center; /*el contenido como los textos dentro del contenedor se centren*/
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*espacio entre lineas*/
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}