/* Forma de poner las declaraciones 
1. Pocisionamiento
2. Modelo de caja 
3. Tipografía --- fuentes, tamaño de fuentes
4. Temas visuales ----> shadom box, border radius
5. Otros
*/

/* NOTA: el MIN-WIDTH es de 288 en las etiquetas de texto cuyo WIDTH es de 90% (del ancho del contenedor donde estan), esto es xq 288 equivale al 90% de 320, significa que su tamaño no va ser menor a 288px cuando el view port sea de 320 (que es el menor posible) .*/

:root{
    /*Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --warm-black:#201e1c;
    --black: #282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{ 
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px; /*el width no se va hacer más chico a partir de esa medida, es la dimencion más chica en celulares*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #f7931a 100%); /* combinacon de 2 colores difuminado black*/
}

header img{
    width:151px;
    height: 24px;
    /* margin: 0 auto;  Posible declaración que ayuda a centar la img*/
    margin-top: 60px;
    align-self: center; /*flex: forma de centrar a un elemento que tenga un contenedor con display flex;*/
}

.header--title-container{
    width: 90%;
    min-width: 288px; /*no va a disminuir mas de 288px*/
    max-width: 900px; /*dejara de crecer hasta los 900px*/
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center; /*el contenido como los textos dentro del contenedor se centren*/
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem; /*espacio entre lineas*/
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute; /* este permite ponerse encima de otros elementos y moverse libremente*/
    left: calc(50% - 115px); /*queremos que se valla al centro con el 50% pero por las medidas del boton se ve sesgado a un extremo se resta 114.5 px porque es la medida del width son 229px/2 es 114.5 pero como deben ser enteros se redondea y son 115px*/
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;   
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");  
}
main{
    width: 100%;
    min-width: 320px; /*para que no se haga más pequeña de esta dimension y quede igual que el header*/
    height: auto; /*vatomando la altura segun su contenido*/
    background: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover; /*respete la figura de la imagen, no se deforme*/
    background-position: center; /*sin importar el tamaño del contenedor o de la imagen podamos tener visibilidad del centro de la imagen*/ 
    background-repeat: no-repeat; /*No se repita la imagen, aplica cuando la imagen es más chica que el contenedor ya que replica la img para lllenar el contenedor*/
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
